force-app/main/default/flows/CreateContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates a Contact Object from and External Person Objext</description>
        <name>CreateContactFromPerson</name>
        <label>CreateContactFromPerson</label>
        <locationX>736</locationX>
        <locationY>66</locationY>
        <actionName>NewContact</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>GetPersonRecords.EnrichedPrimaryEmail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>GetPersonRecords.FirstName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>GetPersonRecords.LastName__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>CreateContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateContact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the Person Record by ExternalId (PersonKey)</description>
        <name>GetPersonRecords</name>
        <label>GetPersonRecords</label>
        <locationX>487</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateContactFromPerson</targetReference>
        </connector>
        <filters>
            <field>ExternalId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_ExternalID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetPersonRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The ExternalID (PersonKey) from the Person Object</description>
        <name>Person_ExternalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
