force-app/main/default/flows/Employee_Bank_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Account</name>
        <label>Add Account</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>BankService.addAccount</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>account_updated</targetReference>
        </connector>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>account</assignToReference>
            <name>201</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>updatedAccount</assignToReference>
            <name>409Exc</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_account</name>
        <label>Check account</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <actionName>BankService.getAccount</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Does_account_exist</targetReference>
        </connector>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>checkedAccount</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>notFoundAccount</assignToReference>
            <name>404Exc</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>assign_updated_account</name>
        <label>assign updated account</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>account.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedAccount.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_user_account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>account_updated</name>
        <label>account updated?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>assign_updated_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>account updated</defaultConnectorLabel>
        <rules>
            <name>account_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updatedAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_user_account</targetReference>
            </connector>
            <label>account created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_account_exist</name>
        <label>Does account exist?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>accountNotAddedMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account does not exist</defaultConnectorLabel>
        <rules>
            <name>Account_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkedAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Account</targetReference>
            </connector>
            <label>Account exists</label>
        </rules>
    </decisions>
    <interviewLabel>Employee Bank Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Bank Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>update_user_account</name>
        <label>update user account</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Check_account</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>account.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <description>Account Not Added</description>
        <name>accountNotAddedMsg</name>
        <label>accountNotAddedMsg</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>accountNotAdded</name>
            <fieldText>&lt;p&gt;Account was not added.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_Bank_Record</name>
        <label>Employee Bank Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Account</targetReference>
        </connector>
        <fields>
            <name>Name_on_Account</name>
            <dataType>String</dataType>
            <fieldText>Name on Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Type</name>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Found Account</description>
        <name>Found_Account</name>
        <label>Found_Account</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountFoundMsg</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Found account!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Name: {!checkedAccount.name}&lt;/p&gt;&lt;p&gt;Id: {!checkedAccount.id}&lt;/p&gt;&lt;p&gt;Type: {!checkedAccount.z0type}&lt;/p&gt;&lt;p&gt;Available Bal: {!checkedAccount.availableBal}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Employee_Bank_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>account</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountTypeField</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>checkedAccount</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>notFoundAccount</name>
        <apexClass>ExternalService__BankService_errorModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updatedAccount</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
